:root {
    --main-bg-color: #000;
    --main-font-color: #fff;
    --scnd-bg-color: red;
    --scnd-font-color: #000;
    --border-style: dashed;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    margin-left: 10px;
}

.toggle {
    border: 5px var(--border-style) var(--main-font-color);
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

/* .button-scnd {
    border: 5px var(--border-style) var(--main-font-color);
    background-color: var(--scnd-bg-color);
    color: var(--scnd-font-color);
    display: block;
    margin: 10px 0;
} */